
@font-face {
	font-family: "SuisseIntl";
	src: url("../fonts/SuisseIntl.woff") format("truetype");
	font-style: normal;
	font-weight: normal;
}

@font-face {
  font-family: "SuisseIntl-SemiBold";
  src: url("../fonts/SuisseIntl-SemiBold.woff") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "SuisseIntl-Light";
  src: url("../fonts/SuisseIntl-Light.woff") format("truetype");
  font-style: normal;
  font-weight: normal;
}
